<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for_static_asset('styles', 'base.css') }}">
  {% block styles %}{% endblock %}
  {% block head_scripts %}{% endblock %}
  <title>{% block title %}Base{% endblock %} - CoffeeTanuki</title>
</head>

<body class="site">
  {% block header %}{% include "base/header.html.jinja" %}{% endblock %}

  {% block content %}{% endblock %}

  {% block footer %}{% include "base/footer.html.jinja" %}{% endblock %}

  {% block body_scripts %}{% endblock %}
</body>

</html>
