{% extends "base/base.html.jinja" %}

{% block title %}Shops{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bulma.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/2.1.2/css/searchPanes.bulma.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.6.2/css/select.bulma.min.css" />
{% endblock %}

{% block head_scripts %}
<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
<script src="https://cdn.datatables.net/searchpanes/2.1.2/js/dataTables.searchPanes.min.js"></script>
<script src="https://cdn.datatables.net/searchpanes/2.1.2/js/searchPanes.bulma.min.js"></script>
<script src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>
{% endblock %}

{% block content %}
<main class="site-content">
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Shops</h1>
      <table id="shop-table" class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Tags</th>
          </tr>
        </thead>
      </table>
    </div>
  </section>
</main>
{% endblock %}


{% block body_scripts %}
<script>
  const scopeColor = {
    "offering": "is-warning",
    "amenity": "is-info"
  };
  $(document).ready(function () {
    var shopData = JSON.parse('{{shops | tojson | safe}}');
    var dataTable = $('#shop-table').DataTable({
      data: shopData,
      searchPanes: {
        columns: [1, 2, 3],
        cascadePanes: true
      },
      dom: 'Plfrtip',
      columns: [
        {
          data: "name",
          render: function (data, type, row) {
            return '<a href="/shops/' + row.id + '">' + row.name + '</a>';
          }
        },
        {
          data: "country"
        },
        {
          data: "city"
        },
        {
          data: "tags",
          render: {
            _: '[, ]',
            sp: '[].name',
            "display": function (data) {
              return data.map(tag => '<span class="tag is-light ' + (scopeColor[tag.scope] || '') + '">' + tag.name + '</span>').join(' ');
            }
          },
          searchPanes: {
            orthogonal: 'sp'
          },
          sortable: false
        }
      ],
      initComplete: function () {
        this.api().searchPanes.rebuildPane();
      }
    });
  });
</script>
{% endblock %}
