{% extends "base/base.html.jinja" %}

{% block title %}Shops{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bulma.min.css" />
{% endblock %}

{% block head_scripts %}
<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
{% endblock %}

{% block content %}
<main class="site-content">
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Shops</h1>
      <table id="table" class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>name</th>
            <th>country</th>
            <th>city</th>
            <th>tags</th>
          </tr>
        </thead>
      </table>
    </div>
  </section>
</main>
{% endblock %}


{% block body_scripts %}
<script>
  $(document).ready(function () {
    var shopData = JSON.parse('{{shops | tojson | safe}}');
    var dataTable = $('table').DataTable({
      searching: true,     // Enable search functionality
      ordering: true,      // Enable sorting by header
      lengthChange: true,  // Enable max rows per page selector
      paging: true,        // Enable pagination
      data: shopData,
      columns: [
        {
          data: 'name',
          render: function (data, type, row) {
            return '<a href="/shops/' + row.id + '">' + row.name + '</a>';
          }
        },
        {data: 'country'},
        {data: 'city'},
        {
          data: 'tags',
          render: function (data) {
            var tagsHtml = '';
            var scopeColors = {
              'offering': 'is-warning',
              'amenity': 'is-info'
            };
            data.forEach(function (tag) {
              var tagColor = scopeColors[tag.scope] || '';
              tagsHtml += '<span class="tag is-light ' + tagColor + '">' + tag.name + '</span>';
            });
            return tagsHtml;
          }
        }
      ]
    });
  });
</script>
{% endblock %}
