{% extends "base/base.html.jinja" %}

{% block title %}Create Tag - Admin{% endblock %}

{% block header %}{% include "admin/admin-header.html.jinja" %}{% endblock %}

{% block head_scripts %}
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<main class="site-content">
  <section class="section">
    <div class="container">
      <form id="createTagForm" method="POST">
        <div class="field">
          <label class="label" for="name">Scope:</label>
          <div class="control">
            <input class="input" type="text" id="scope" name="scope" required>
          </div>
        </div>
        <div class="field">
          <label class="label" for="name">Name:</label>
          <div class="control">
            <input class="input" type="text" id="name" name="name" required>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <input class="button is-primary" type="submit" value="Save">
          </div>
        </div>
      </form>
      <div id="message-wrapper"></div>
    </div>
  </section>
</main>
{% endblock %}


{% block body_scripts %}
<script>
  document.getElementById("createTagForm").addEventListener("submit", function (event) {
    event.preventDefault();

    var scope = document.getElementById("scope").value;
    var name = document.getElementById("name").value;

    var formData = {
      "scope": scope,
      "name": name
    }

    $.ajax({
      url: '/api/tags',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify(formData),
      success: function (response) {
        // request completed successfully
        showMessage("is-success", 'Tag created successfully. ' + response.id);
        console.log(response);
      },
      error: function (xhr, status, error) {
        // error occurred during the request
        showMessage("is-danger", "An error occurred while creating the tag.");
        console.error(error);
      }
    });

    // display messages in the message div
    function showMessage(type, message) {
      var messageDiv = document.getElementById("message-wrapper");
      messageDiv.innerHTML = '<div class="message ' + type + '"><div class="message-body">' + message + '</div></div>';
    };
  });
</script>
{% endblock %}
