{% extends "base/admin-base.html.jinja" %}

{% block title %}{{ table_name|capitalize }} Table{% endblock %}

{% block content %}
<main class="site-content">
  <section class="section">
    <div class="container">
      <h1 class="is-size-1 title">
        {{ table_name|capitalize }}
      </h1>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            {% for col in cols %}
            <th>{{ col }}</th>
            {% endfor %}
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          {% for row in data %}
          <tr>
            {% for col in cols %}
            <td>
              {%if "." in col %}
              {% set a, n = col.split(".") %}
              {{ row[a][n] }}
              {% else %}
              {{ row[col] }}
              {% endif %}
            </td>
            {% endfor %}
            <td>
              <a href="" class="button is-link">
                <span class="icon iconify" data-icon="mdi-eye"></span>
              </a>
              <a href="" class="button is-primary">
                <span class="icon iconify" data-icon="mdi-pencil"></span>
              </a>
              <a href="" class="button is-danger">
                <span class="icon iconify" data-icon="mdi-delete"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</main>
{% endblock %}

{% block body_scripts %}
<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
{% endblock %}
