{% extends "base/base.html.jinja" %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="site-content is-vertical-centered">
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="is-size-1 title">
        CoffeeTanuki
      </h1>
      <p class="is-size-3 subtitle">
        Discover specialty coffee near you.
      </p>
    </div>
  </section>
</main>
{% endblock %}
