{% extends "base/base.html.jinja" %}

{% block styles %}<link rel="stylesheet" type="text/css" href="https:///unpkg.com/leaflet/dist/leaflet.css"/>{% endblock %}


{% block head_scripts %}<script src="https:///unpkg.com/leaflet/dist/leaflet.js"></script>{% endblock %}

{% block title %}Map - CoffeeTanuki{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Shop Map</h1>
    <p class="subtitle">click on shop markers to learn more</h1>
    <div id="map" style="height: 60vh">
    </div>
  </div>
</section>
{% endblock %}

{% block body_scripts %}<script src="{{ url_for_static_asset('scripts', 'map.js') }}"></script>{% endblock %}
