{% extends "base/base.html.jinja" %}

{% block title %}Shops{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bulma.min.css" />
{% endblock %}

{% block head_scripts %}
<script src="//code.iconify.design/1/1.0.6/iconify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bulma.min.js"></script>
{% endblock %}

{% block content %}
<main class="site-content">
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Shops</h1>
      <table id="table" class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>name</th>
            <th>address</th>
            <th>roaster</th>
            <th>hours</th>
            <th class="no-sort">amenities</th>
          </tr>
        </thead>
        <tbody>
          {% for shop in shops %}
          <tr>
            <td><a href="/shops/{{ shop.id }}">{{ shop.name }}</a></td>
            <td>{{ shop.address }}</td>
            <td>{{ shop.roaster }}</td>
            <td>{{ shop.hours_of_operation }}</td>
            <td>
              {% for amenity in shop.amenities %}
              <span class="tag">{{ amenity.name }}</span>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</main>
{% endblock %}


{% block body_scripts %}
<script>
  $(document).ready(function () {
    $('table').DataTable({
      searching: true,     // Enable search functionality
      ordering: true,      // Enable sorting by header
      lengthChange: true,  // Enable max rows per page selector
      paging: true,        // Enable pagination
      autoWidth: false,
      columnDefs: [
        {targets: 'no-sort', orderable: false},  // Disable sorting for columns with no-sort class
        {"searchable": true, "targets": -1} // Enable filtering on the last column (tags)
      ]
    });
  });
</script>
{% endblock %}
