{% extends "base/base.html.jinja" %}


{% block styles %}
<link rel="stylesheet" type="text/css" href="https:///unpkg.com/leaflet/dist/leaflet.css" />
{% endblock %}

{% block head_scripts %}
<script src="https:///unpkg.com/leaflet/dist/leaflet.js"></script>
{% endblock %}

{% block title %}Shop Details: {{ shop.name }}{% endblock %}


{% block content %}
<main class="site-content">
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Shop Details: {{ shop.name }}</h1>
      <div class="columns">
        <div class="column is-6">
          <h2 class="subtitle has-text-centered">info</h2>
          <div class="notification p-5">
            <div class="columns">
              <div class="column is-half">
                <p class="has-text-right-desktop"><strong>address:</strong></p>
              </div>
              <div class="column is-half">
                <p class="has-text-left-desktop">{{ shop.address }}</p>
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">
                <p class="has-text-right-desktop"><strong>roaster:</strong></p>
              </div>
              <div class="column is-half">
                <p class="has-text-left-desktop">{{ shop.roaster or "unknown" }}</p>
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">
                <p class="has-text-right-desktop"><strong>hours:</strong></p>
              </div>
              <div class="column is-half">
                <p class="has-text-left-desktop">{{ shop.hours_of_operation or "unknown" }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <h2 class="subtitle has-text-centered">description</h2>
          <div class="notification">
            <p>{{ shop.description or "no description available"}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container has-text-centered">
      <h2 class="subtitle">location</h2>
      <div class="is-flex is-justify-content-center is-align-content-center">
        <div id="map" style="height: 400px; width: 600px">
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}


{% block body_scripts %}
<script src="{{ url_for_static_asset('scripts', 'map.js') }}"></script>
<script>
  L.marker([{{shop.coordinates.lat}}, {{shop.coordinates.lon}}])
    .bindPopup("{{shop.name}}")
    .addTo(map)
  map.setView([{{shop.coordinates.lat}}, {{shop.coordinates.lon}}], 13)
</script>

{% endblock %}
